.footer-header {
    background-color: $dc-blue;

    .container {
        color: #FFF;
        padding: 3rem 1rem;

        .footer-list {
            @include list-wrapper;
            white-space: nowrap;

            .footer__list__item {
                @include list-items;
                flex-grow: 1;

                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 1rem;

                    img {
                        height: 50px;
                    }
                }

            }

        }
    }
}

span {
    display: none;
}

a:hover span {
    display: block;
}

a:hover {
    flex-direction: column;
}

@media (min-width: 1024px) {
    span {
        display: inline;
    }

    a:hover {
        flex-direction: row;
    }
}